<div class="row text-center">
  <h2>Gestion des évènements</h2>
</div>

<div class="row">
  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <td>Demandeur</td>
        <td>Binet</td>
        <td>Evenement</td>
        <td>Date</td>
        <td colspan="2">Statut</td>
        <td>Valeur totale</td>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |e| %>
        <tr>
          <td><%= e.requester.full_name %></td>
          <td><%= e.binet_id %></td>
          <td><%= e.name %></td>
          <td><%= e.date %></td>
          <td><%= e.status %></td>
          <td>
            <% Event::STATUS_CHANGE[e.status].each do |new_status, description| %>
              <%= bootstrap_form_tag(url: "/event/status/#{e.id}/#{new_status}", method: :post, remote: true, layout: :inline) do |f| %>
                <%= f.primary description, class: 'btn btn-xs btn-primary' %>
              <% end %>
            <% end %>
          </td>
          <td><%= number_to_currency((@event_values[e.id] || {})[:value].to_f) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
