<div class="row text-center">
  <h2>Binet <b><%= @binet[:name] %></b> - <%= @event.name %></h2>
</div>

<div class="row">
  <div class="col-md-6 col-md-push-6 text-center">
    <% if @event.denied? %>
      <h3>Cet évènement a été refusé par les BôBarmans.</h3>
    <% elsif @event.opened? %>
      <h3>Loggue une transaction&nbsp;:</h3>
      <div class="row">
        <div class="col-md-6" style="margin-bottom: 10px;">
          <input id="account-search" type="text" class="form-control" placeholder="Recherche (trigramme ou nom / prénom)">
        </div>
        <div class="col-md-6" style="margin-bottom: 10px;">
          <%= bootstrap_form_tag(
                remote: true, url: "/event/log/#{@event.binet_id}/#{@event.id}", method: :post, layout: :inline,
                html: { id: 'log-form' }) do |f| %>
            <%= f.hidden_field(:account_id) %>
            <%= f.text_field(:amount, placeholder: 'Montant', wrapper: { class: 'amount-form-group' }, class: 'mousetrap', hide_label: true, prepend: I18n.t(:currency), append: f.primary('Log !')) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4><big><strong id="trigramme"></strong></big></h4>
          <h4 id="full_name"></h4>
          <h4 id="promo"></h4>
        </div>
        <div class="col-md-6">
          <img class="account-image">
        </div>
      </div>
    <% else %>
      <h3>Tu pourra logguer des transactions une fois l'évènement ouvert.</h3>
    <% end %>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <div class="text-center">
      <a role="button" data-toggle="collapse" href="#commentsCollapse" aria-expanded="false" aria-controls="commentsCollapse">
        <% if @comments.size == 0 %>
          Ajouter un commentaire à cet évènement
        <% elsif @comments.size == 1 %>
          Afficher le commentaire pour cet évènement
        <% else %>
          Afficher les <%= @comments.size %> commentaires pour cet évènement
        <% end %>
      </a>
    </div>
    <div class="collapse panel panel-default" id="commentsCollapse">
      <table class="table table-condensed">
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <strong><%= comment.author.full_name %></strong>
                <br>
                <small>
                  <time
                    <% if comment.updated_at.to_date == Date.today %>
                      class="timeago"
                    <% end %>
                    datetime="<%= comment.updated_at %>">
                    <%= comment.updated_at.strftime('%F %T') %>
                  </time>
                </small>
              </td>
              <td><%= simple_format(comment.comment) %></td>
            </tr>
          <% end %>
          <tr>
            <td>Ajouter un commentaire&nbsp;:</td>
            <td>
              <%= bootstrap_form_tag(remote: true, url: "/event/comment/#{@event.binet_id}/#{@event.id}", method: :post) do |f| %>
                <%= f.text_area :comment, hide_label: true %>
                <%= f.primary 'Commenter' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if @transactions.empty? %>
      <h3 class="text-center">Aucune transaction pour l'instant</h3>
    <% else %>
      Voici les transactions de l'évènement, pour un total de <b><%= number_to_currency(@transactions.map(&:price).sum) %> :</b>
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>
            <td>Prix</td>
            <td>Trigramme</td>
            <td>Nom</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each do |t| %>
            <tr>
              <td><%= number_with_precision(t.price, strip_insignificant_zeros: true, significant: false, precision: 2, delimiter: ' ') %></td>
              <td><%= t.trigramme %></td>
              <td><%= t.first_name %> <%= t.last_name %></td>
              <td>
                <time
                  <% if t.updated_at.to_date == Date.today %>
                    class="timeago"
                  <% end %>
                  datetime="<%= t.updated_at %>">
                  <%= t.updated_at.strftime('%F %T') %>
                </time>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 visible-xs visible-sm text-center">
    <p>Les photos ne s'affichent pas&nbsp;? Il faut autoriser les cookies tiers, plus d'information <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&hl=fr">ici</a></p>
  </div>
</div>
