<div class="row">
  <div class="col-md-5 col-md-push-7 text-center">
    <h2>Bienvenue, <%= @account.full_name %>, sur ton trigramme <%= @account.trigramme %></h2>
    <!-- <p>
      Ces information sont fausses&nbsp;?
      <a target="_blank" href="mailto:bobar@binets.polytechnique.fr?<%= URI.encode_www_form(cc: 'bobar.tdb@gmail.com', subject: "Mauvaise association Frankiz - #{@account.trigramme}")%>">Contacte le BôB</a> pour le signaler&nbsp;!</p> -->
    <h3>Ton solde est de <strong class="<%= 'text-danger' if @account.balance < 0 %>"><%= number_to_currency(@account.balance / 100.0) %></strong></h3>
    <% if @account.balance < 0 %>
      <h4>Viens donc nous faire un chèque&nbsp;!</h4>
    <% end %>
    <% if @account.total_clopes > 0 %>
      <h3>Tu as dépensé <strong><%= number_to_currency(@account.total_clopes / 100.0) %></strong> en clopes au total.</h3>
    <% end %>
    <% if session[:binets_admin].size > 0 %>
      <hr>
      <h4>En tant qu'admin, tu peux demander à facturer sur trigramme des évènements pour les binets suivants&nbsp;:</h4>
      <ul class="text-left">
        <% session[:binets_admin].each do |id, binet_name| %>
          <li><a href="/binet/<%= id %>"><%= binet_name %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-md-7 col-md-pull-5">
    <% if session[:admin] %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <input id="account-admin-search" type="text" class="form-control" placeholder="Recherche (trigramme ou nom / prénom)">
        </div>
      </div>
    <% end %>
    <% if @transactions.empty? %>
      <h3 class="text-center">Aucune conso sur les 7 derniers jours, passe prendre une bière&nbsp;!</h3>
    <% else %>
      <h3 class="text-center">Voici tes transactions des 7 derniers jours&nbsp;:</h3>

      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>
            <td>Débit</td>
            <td>Crédit</td>
            <td>Bénéficiaire</td>
            <td>Commentaire</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each do |transaction|
              is_debit = transaction.buyer_id == @account.id
              partner = is_debit ? transaction.receiver : transaction.buyer
              partner_trigramme = partner.try(:trigramme)
            %>
            <tr>
              <% unless is_debit %>
                <td></td>
              <% end %>
              <td><%= number_with_precision(transaction.amount / 100.0, strip_insignificant_zeros: true, significant: false, precision: 2, delimiter: ' ') %></td>
              <% if is_debit %>
                <td></td>
              <% end %>
              <td><%= partner_trigramme == Account::DEFAULT_BANK_TRIGRAMME ? 'BôB' : partner.try(:full_name) %></td>
              <td><%= transaction.comment %></td>
              <td>
                <time
                  <% if transaction.date.to_date == Date.today %>
                    class="timeago"
                  <% end %>
                  datetime="<%= transaction.date %>">
                  <%= transaction.date.strftime('%F %T') %>
                </time>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
